@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap");

.highlight::after,
.social::after,
.site-header::after,
.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

.toggle-navbar-button,
.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  appearance: none;
  background-color: #636363;
  border: 0;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
.toggle-navbar-button:hover,
.button:hover,
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.toggle-navbar-button:focus,
.button:focus,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
  background-color: #4f4f4f;
}

.button-ghost {
  background-color: transparent;
  border: 2px solid #636363;
  color: #636363;
  margin-bottom: 2px;
}
.button-ghost:hover,
.button-ghost:focus {
  color: #fff;
}

figure.image {
  font-size: 1em;
  font-style: italic;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
figure.image img {
  box-shadow: 0 0 10px;
  border-radius: 2px;
}

body {
  margin: 0;
}

img {
  border-style: none;
}

ul,
ol {
  margin: 0 0 0.75em;
  padding: 0 0 0 1.5em;
  list-style-position: inside;
  padding-left: 25px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

table {
  border-collapse: collapse;
  font-feature-settings: "kern", "liga", "tnum";
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%;
}

th {
  border-bottom: 1px solid #a7a7a7;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left;
}

td {
  border-bottom: 1px solid #dedede;
  padding: 0.75em 0;
}

tr,
td,
th {
  vertical-align: middle;
}

html {
  font-size: 1.25em;
}

body {
  color: #4d4d4d;
  font-family: "Merriweather", serif;
  font-feature-settings: "kern", "liga", "pnum";
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
  font-feature-settings: "calt" 1;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", serif;
  line-height: 1.3;
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 0 0.75em;
}
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child {
  margin-bottom: 0;
}

p {
  font-weight: 300;
}

em {
  font-style: italic;
}

small {
  font-size: 70%;
  opacity: 0.75;
}

a {
  color: #636363;
  text-decoration: none;
}
a:active,
a:focus,
a:hover {
  color: #4a4a4a;
}

hr {
  border-bottom: 1px solid #dedede;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

code {
  background: none;
  border-radius: 0;
  border: none;
  font-family: "Courier New", monospace;
  font-size: 0.9em;
  margin: 0;
  padding: 0 5px;
  background-color: #ededed;
}

pre {
  -webkit-overflow-scrolling: touch;
  font-family: "Courier New", monospace;
  font-size: 0.9em;
  margin: 0;
}
pre code {
  line-height: 1.75em;
}

p.post-note {
  color: #7d7d7d;
  font-style: italic;
  margin-top: 2em;
}
p.post-note a {
  text-decoration: underline;
}

.txt-medium-gray {
  color: #9a9a9a;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C" "\201D" "\2018" "\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

@font-face {
  font-family: "end2end";
  src:
    url("../fonts/end2end.ttf?cgaqog") format("truetype"),
    url("../fonts/end2end.woff?cgaqog") format("woff"),
    url("../fonts/end2end.svg?cgaqog#end2end") format("svg");
  font-weight: normal;
  font-style: normal;
}
.icon {
  font-family: "end2end" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-envelop:before {
  content: "\e945";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-github:before {
  content: "\eab0";
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: #fff;
  padding-top: 75px;
}
@media screen and (min-width: 768px) {
  body {
    padding-top: 0;
  }
}

figure {
  margin: 0;
  padding: 0;
}

.main-container {
  padding: 1.5em 0;
}

.container {
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5em;
  padding-right: 1.5em;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1240px) {
  .container {
    max-width: 900px;
  }
}

.nav-container {
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5em;
  padding-right: 1.5em;
}
@media screen and (min-width: 768px) {
  .nav-container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1240px) {
  .nav-container {
    max-width: 960px;
  }
}

.site-header {
  background-color: #fff;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  min-height: 60px;
  width: 100%;
  z-index: 1000;
}
@media screen and (min-width: 768px) {
  .site-header {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    padding: 1.5em 0;
    min-height: 35px;
  }
}
.site-header .navbar {
  float: right;
  text-transform: lowercase;
}
.site-header a {
  color: #9a9a9a;
}
.site-header a:hover,
.site-header a:focus,
.site-header a:active {
  color: #232323;
}

.logo {
  margin: 0;
  padding: 0;
  float: left;
  font-weight: 300;
  font-size: 1.5rem;
  position: fixed;
  top: 0.5em;
  left: 1.5em;
  z-index: 100;
}

.logo a {
  color: #4d4d4d;
}

@media screen and (min-width: 768px) {
  .logo {
    padding: 5px 0;
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
  }
}
.logo span {
  color: #636363;
}

.navbar {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  text-align: center;
  background-color: rgba(99, 99, 99, 0.9);
  width: 100%;
  height: 100%;
}
.navbar ul {
  display: table-cell;
  vertical-align: middle;
  padding: 0 1.5em;
  margin: 0;
}
.navbar li,
.navbar a {
  display: block;
}
.navbar a {
  padding: 5px 15px;
  font-size: 2rem;
  position: relative;
  color: #fff;
  text-decoration: underline;
}
.navbar a:before,
.navbar a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background-color: #fff;
  transition: width 0.3s ease-in-out;
  position: absolute;
  right: 0;
}
.navbar a:before {
  top: 0;
  left: 0;
}
.navbar a:after {
  bottom: 0;
  right: 0;
}
.navbar a:hover,
.navbar a:focus {
  color: #fff;
  opacity: 0.7;
}
.navbar a:hover:before,
.navbar a:hover:after,
.navbar a:focus:before,
.navbar a:focus:after {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .navbar {
    text-align: left;
    background-color: transparent;
    position: relative;
    float: right;
    width: auto;
  }
  .navbar ul {
    padding: 0;
  }
  .navbar,
  .navbar li,
  .navbar a {
    display: inline-block;
  }
  .navbar a {
    padding: 5px 15px;
    color: inherit;
    font-size: inherit;
  }
  .navbar a:before,
  .navbar a:after {
    background-color: #dedede;
  }
  .navbar a:hover,
  .navbar a:focus {
    color: inherit;
  }
}

.toggle-navbar-button {
  float: right;
  padding: 0.5em 0.75em;
  margin: 0;
  position: fixed;
  top: 0.5em;
  right: 1.5em;
  z-index: 100;
}
.toggle-navbar-button .icon-menu {
  display: block;
}
.toggle-navbar-button .icon-cross {
  display: none;
}
@media screen and (min-width: 768px) {
  .toggle-navbar-button {
    display: none;
  }
}

#toggleNavbar {
  position: fixed;
  top: -999999px;
  right: -999999px;
}
#toggleNavbar:checked ~ .navbar {
  display: table;
}
#toggleNavbar:checked ~ .logo a,
#toggleNavbar:checked ~ .logo span {
  color: #fff;
}
#toggleNavbar:checked ~ .toggle-navbar-button .icon-menu {
  display: none;
}
#toggleNavbar:checked ~ .toggle-navbar-button .icon-cross {
  display: block;
}

.hero {
  display: table;
  width: 100%;
  height: 100%;
}

.hero-inner {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.hero-inner .dot {
  padding: 5px;
  border: 1px solid #dedede;
  border-radius: 50%;
}
.hero-inner h1,
.hero-inner h3 {
  max-width: 760px;
  display: block;
}
.hero-inner h1 {
  margin-top: 0.7em;
  font-size: 2.5rem;
  margin: 0 auto;
}
.hero-inner h3 {
  font-size: 1.25rem;
  margin: 0.8em auto 1.2em;
}
.hero-inner h3,
.hero-inner em {
  font-weight: 300;
}
.hero-inner em {
  color: #636363;
}
.hero-inner strong {
  font-weight: 700;
}

.post {
  display: block;
}
.post-meta {
  font-size: 0.8rem;
  font-weight: 300;
}
.post-thumbnail,
.post-thumbnail img {
  background-color: #f1eff0;
  border-radius: 6px;
}
@media screen and (min-width: 768px) {
  .post-thumbnail {
    float: left;
    max-width: 250px;
    margin-right: 0.75em;
    margin-bottom: 0.75em;
    padding: 0.75em;
    border: 1px solid #dedede;
  }
}
.post .read-more {
  color: #7d7d7d;
}
.post-header {
  margin-bottom: 0.5em;
}
.post-title {
  font-size: 1.4em;
  font-weight: 600;
  margin-bottom: 0;
  line-height: 1.5em;
  text-decoration: underline;
}
.post-list .post a {
  color: #636363;
}
.post-list .post a:hover,
.post-list .post a:active,
.post-list .post a:focus {
  color: #232323;
  text-decoration: underline;
}

.post-list .post {
  padding-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .post-list .post-content,
  .post-list .post-thumbnail {
    display: table-cell;
    vertical-align: middle;
  }
}
.post-list .post-thumbnail {
  margin-bottom: 1.5em;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .post-list .post-thumbnail {
    width: 250px;
    margin: 0;
  }
}
.post-list .post-thumbnail > a {
  display: inline-block;
}
.post-list .post-thumbnail.no-image > a {
  width: 100%;
  min-height: 200px;
  background: url(../images/placeholder.png) no-repeat 50%;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .post-list .post-content {
    padding: 0 0 0 1.5em;
  }
}

.post-info {
  color: #9a9a9a;
}

.post-content a {
  color: #3082f5;
  transition: color 0.5s;
}
.post-content a:hover {
  color: #000000;
}

.social {
  padding: 0 1.5em;
}
.social li {
  display: inline-block;
  padding: 0 0.6em;
}
.social a {
  color: #9a9a9a;
}
.social a:hover,
.social a:active,
.social a:focus {
  color: #636363;
}
.social i {
  font-size: 1.6em;
}

.site-footer {
  background-color: #fff;
  padding: 1.5em;
  text-align: center;
}
.site-footer p {
  margin: 0;
}

.highlight {
  padding: 0.75em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.highlight,
.highlight .hll,
.highlight pre,
.highlight code {
  background-color: #fcfcfc !important;
  border-radius: 6px;
  border: none;
}
.highlight pre {
  white-space: pre;
  line-height: 23px;
  overflow-x: auto;
  margin-bottom: 0;
  word-break: inherit;
  word-wrap: inherit;
}
.highlight pre,
.highlight pre code {
  color: #888888;
}
.highlight pre code {
  white-space: pre;
  padding: 0 !important;
}
.highlight table {
  table-layout: auto;
}
.highlight table td {
  border-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.highlight table td .gutter {
  padding: 0;
}
.highlight .lineno {
  text-align: center;
  background-color: #555;
  user-select: none;
}
.highlight .hll {
  background-color: #ffffcc;
}
.highlight .c {
  color: #999988;
  font-style: italic;
}
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
.highlight .k,
.highlight .o {
  color: #000000;
  font-weight: bold;
}
.highlight .cm {
  color: #999988;
  font-style: italic;
}
.highlight .cp {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}
.highlight .c1 {
  color: #999988;
  font-style: italic;
}
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}
.highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}
.highlight .ge {
  color: #000000;
  font-style: italic;
}
.highlight .gr {
  color: #aa0000;
}
.highlight .gh {
  color: #999999;
}
.highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}
.highlight .go {
  color: #888888;
}
.highlight .gp {
  color: #555555;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gu {
  color: #aaaaaa;
}
.highlight .gt {
  color: #aa0000;
}
.highlight .kc,
.highlight .kd,
.highlight .kn,
.highlight .kp,
.highlight .kr {
  color: #000000;
  font-weight: bold;
}
.highlight .kt {
  color: #445588;
  font-weight: bold;
}
.highlight .m {
  color: #009999;
}
.highlight .s {
  color: #d01040;
}
.highlight .na {
  color: #008080;
}
.highlight .nb {
  color: #0086b3;
}
.highlight .nc {
  color: #445588;
  font-weight: bold;
}
.highlight .no {
  color: #008080;
}
.highlight .nd {
  color: #3c5d5d;
  font-weight: bold;
}
.highlight .ni {
  color: #800080;
}
.highlight .ne,
.highlight .nf,
.highlight .nl {
  color: #990000;
  font-weight: bold;
}
.highlight .nn {
  color: #555555;
}
.highlight .nt {
  color: #000080;
}
.highlight .nv {
  color: #008080;
}
.highlight .ow {
  color: #000000;
  font-weight: bold;
}
.highlight .w {
  color: #bbbbbb;
}
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .mo {
  color: #009999;
}
.highlight .sb,
.highlight .sc,
.highlight .sd,
.highlight .s2,
.highlight .se,
.highlight .sh,
.highlight .si,
.highlight .sx {
  color: #d01040;
}
.highlight .sr {
  color: #009926;
}
.highlight .s1 {
  color: #d01040;
}
.highlight .ss {
  color: #990073;
}
.highlight .bp {
  color: #999999;
}
.highlight .vc,
.highlight .vg,
.highlight .vi {
  color: #008080;
}
.highlight .il {
  color: #009999;
}

.avatar {
  width: 150px;
  height: 150px;
}

a.link {
  font-weight: bold;
}
a.link:hover {
  text-decoration: underline;
}
